* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
}

button {
  border-style: none;
  font-size: 13px;
  font-weight: bold;
  background-color: #3882f6;
  color: #e5e7eb;
  border-color: #e5e7eb;
  border-width: 1px;
  border-radius: 5px;
  padding: 8px 35px;
}

.header {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 20px 20%;
  display: flex;
  justify-content: space-between;
}

.header-links {
  display: flex;
  gap: 30px;
  align-items: last baseline;
}

.header-link {
  justify-content: flex-end;
}

.header-logo {
  width: 200px;
  height: auto;
}

.hero-section {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 20px 20%;
  display: flexbox;
}

.hero-text {
  width: 450px;
}

.hero-section h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
  margin-top: 80px;
}

.hero-section p {
  font-size: 18px;
  color: #e5e7eb;
  margin-top: 10px;
  line-height: 150%;
}

.hero-section button {
  margin-top: 20px;
}
.image-placeholder {
  display: inline-block;
  background-color: grey;
  padding: 100px 150px;
}
.info-section {
}

.services-container {
  display: flexbox;
}

.info-section h2 {
  font-size: 36px;
  font-weight: extra-bold;
  color: #1f2937;
  text-align: center;
}

.quote-section {
  background-color: #e5e7eb;
  padding: 100px 30%;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
}

.quoter-text {
  font-size: 26px;
  font-weight: bold;
  color: #1f2937;
  text-align: right;
  margin-top: 10px;
}

.cta-section {
  background-color: #3882f6;
  margin: 80px 20%;
  border-radius: 5px;
  padding: 30px;
}

.cta-section h3 {
  color: #f9faf8;
  font-size: 20px;
  font-weight: bold;
}

.cta-section p {
  color: #f9faf8;
  font-size: 15px;
}

.cta-section button {
  border-color: #f9faf8;
  border-width: 2px;
}
