* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
}

p {
  color: #1f2937;
}

h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
}

h2 {
  font-size: 36px;
  font-weight: extra-bold;
  color: #1f2937;
}

button {
  border-style: none;
  font-size: 13px;
  font-weight: bold;
  background-color: #3882f6;
  color: #e5e7eb;
  border-color: #e5e7eb;
  border-width: 1px;
  border-radius: 5px;
  padding: 8px 35px;
}

.header {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 20px 12%;
  display: flex;
  justify-content: space-between;
}

.header-links {
  display: flex;
  gap: 30px;
  align-items: last baseline;
}

.header-logo {
  width: 200px;
  height: auto;
}

.hero-section {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 100px 12%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}

.hero-text {
  width: 450px;
}

.hero-secondarytext {
  font-size: 18px;
  color: #e5e7eb;
  margin-top: 10px;
  line-height: 150%;
}

.hero-button {
  margin: 20px 0 0 0;
}

.hero-image {
  background-color: grey;
  height: 250px;
  margin-left: 100px;
  object-fit: cover;
  object-position: 0 10%;
  flex-grow: 1;
}

.info-section {
  padding-bottom: 50px;
}

.info-maintext {
  text-align: center;
  margin: 50px auto;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.service-image {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-style: solid;
  border-color: #3882f6;
  border-width: 5px;
  border-radius: 10px;
}

.service-subtext {
  width: 150px;
  text-align: center;
  text-wrap: wrap;
  margin: 15px auto;
}

.quote-section {
  background-color: #e5e7eb;
  padding: 100px 30%;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
}

.quoter-text {
  font-size: 26px;
  font-weight: bold;
  color: #1f2937;
  text-align: right;
  margin-top: 10px;
}

.cta-section {
  background-color: #3882f6;
  margin: 80px 20%;
  border-radius: 5px;
  padding: 40px 80px;
  display: flex;
  justify-content: space-between;
}

.cta-maintext {
  color: #f9faf8;
  font-size: 20px;
  font-weight: bold;
}

.cta-secondarytext {
  color: #f9faf8;
  font-size: 13px;
  margin-top: 3px;
}

.cta-button {
  border-style: solid;
  border-color: #f9faf8;
  border-width: 2px;
  align-self: center;
}

.footer {
  text-align: center;
  background-color: #1f2937;
  color: #e5e7eb;
  padding: 40px;
}
